:root {
  --black: rgb(34, 34, 34);
  --dark: rgb(53,53,53);
  --bluegray: rgb(51, 68, 73);
  --lightblue: rgb(35, 69, 80);
  --blue: rgb(0, 132, 169);
  --border_radius: 0.5rem;
  --transition_time: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--blue);
  overflow: auto;

  /* Prevent highlighting text */
  -webkit-user-select: none;  /* Safari */
  -ms-user-select: none;      /* IE 10 and IE 11 */
  user-select: none;          /* Standard syntax */
}

a {
  color: var(--blue);
}

/*  */
#header{
  display: flex;
  height: 10vh;
  background-color: var(--black);
  text-transform: uppercase;
  align-items: center;
  
}
#headerTitle {
  font-size: 2rem;
  padding-left: 5vmax;
  flex-grow: 1;
}
#headerButtons {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}
#header i {
  font-size: 1.5rem;
  padding: 3vmin;

  transition: color var(--transition_time);
  transition: background-color var(--transition_time);
}
#header i:hover{
  background-color: var(--blue);
  color: var(--black);
}

/* FOOTER */
#footer {
  display: flex;
  height: 8vh;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--black);
}
#footerText {
  flex-grow: 1;
  padding-left: 5vmax;
}
#footerButtons {
  flex-grow: 1;
  display:flex;
  justify-content: end;
}
#footerButtons i {
  font-size: 1.5rem;
  padding: 3vmin;

  transition: color var(--transition_time);
  transition: background-color var(--transition_time);
}
#footerButtons i:hover {
  background-color: var(--blue);
  color: var(--black);
}

/* CONTENT */

#contentWrapper{
  flex-grow: 1;
  min-height: 72vh;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
}

#content {
  width: 80vmin;
  display: flex;
  flex-direction: column;
}
#contentButtons {
  display: flex;
  justify-content: center;
  padding: 5vmin 0;
}
#contentButtons button {
  width: 33%;
  background-color: var(--black);
  color: var(--blue);
  font-size: 1rem;
  border: none;
  padding: auto;

  transition: color var(--transition_time);
  transition: background-color var(--transition_time);
}
#statsBtn {
  border-top-left-radius: var(--border_radius);
  border-bottom-left-radius: var(--border_radius);
}
#lbBtn {
  border-top-right-radius: var(--border_radius);
  border-bottom-right-radius: var(--border_radius);
}
#contentButtons button:hover {
  background-color: var(--blue);
  color: var(--black);
}

#contentPageContainer {
  max-height: 60vmin;
  overflow: scroll;
  border: solid 0.2rem var(--blue);
  border-radius: var(--border_radius);
  padding: 1rem;
}

#logPageTitle, #statsPageTitle, #lbPageTitle{
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

#logContainer {
  background-color: var(--bluegray);
  border-radius: var(--border_radius);
}
#workoutList {
  display: flex;
  flex-direction: column-reverse;
}
.logList {
  list-style: none;
  padding: 0.2rem;
  border-radius: var(--border_radius);
  display: flex;
  justify-content: space-between;

  transition: background-color var(--transition_time);
}
.logList_A {
  background-color: var(--bluegray);
}
.logList_B {
  background-color: var(--lightblue);
}
.logList:hover {
  color: var(--bluegray);
  background-color: var(--blue);
}

/* workout list item delete button */
.logList i {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  padding: 0 0.07rem;
  border-radius: 0.2rem;
}
.logList i:hover {
  color: var(--black);
}

/* add workout button */
#addWorkout {
  display: flex;
  justify-content: center;
}
